.mage-1 {
    height: 106px;
    width: 55px;
    background-image: url('../../assets/mage-1.png');
}

.archer-1 {
    height: 87px;
    width: 55px;
    border-radius: 50%;
    background-image: url('../../assets/archer-1.png');
}

.warrior-1 {
    height: 87px;
    width: 55px;
    background-image: url('../../assets/warrior-1.png');
}

.mage-2 {
    height: 106px;
    width: 55px;
    background-image: url('../../assets/mage-2.png');
}

.archer-2 {
    height: 87px;
    width: 55px;
    border-radius: 50%;
    background-image: url('../../assets/archer-2.png');
}

.warrior-2 {
    height: 87px;
    width: 55px;
    background-image: url('../../assets/warrior-2.png');
}
